@import '../../base/index.scss';

.projectContainer {
     display: block;
     z-index: 0;
     .project {
          background: $white101;
          width: 100%;
          height: 100%;
          margin: 0 auto;
          display: grid;
          z-index: 1000;
          grid-template-columns: repeat(2, 50%);
          grid-gap: 10px;
          grid-auto-rows: 200px;
          background: white;
          @include mediaTablet {
               grid-template-columns: repeat(2, calc(50% - 5px));
               width: calc(100% - 20px);
          }

          .details {
               z-index: 100;
               background: $white102;
               grid-row: span 2;
               grid-column: span 2;
               display: flex;
               width: calc(100% + 20px);
               position: relative;
               margin-left: -10px;
               flex-direction: column;
               align-items: center;
               text-align: center;
               @include mediaTablet {
                    grid-row: span 3;
               }
               .name {
                    z-index: 1;
                    padding-top: $mn;
                    @include headlineL;
               }

               .tags {
                    margin-top: $mn/5;
                    @include subHeadlineL;
               }

               .intro {
                    margin-top: $mn/4;
                    width: 100%;

                    @include textM;
                    @include mediaTablet {
                         width: 100%;
                    }
               }

               .techStack {
                    margin-top: auto;
                    display: flex;
                    padding-bottom: $mn;
                    p {
                         padding: 0 5px;
                         color: $black103;
                         font-weight: 200;
                    }
               }

               a {
                    @include textM;
                    display: block;
                    margin-top: $mn/4;
                    color: #00f;
               }
          }
          .fullImage {
               grid-row: span 2;
               grid-column: span 2;
               z-index: 1;
               display: flex;
               justify-content: center;
               background: $white102;
               @include mediaTablet {
                    grid-row: span 3;
               }
               img {
                    height: 100%;
                    width: auto;
                    object-fit: cover;
               }
          }

          .descriptionContainer {
               grid-column: span 2;
               grid-row: span 2;
               width: calc(100% + 20px);
               margin-left: -10px;
               background: $white101;

               display: flex;
               z-index: 100;
               .description {
                    background: $white101;
                    @include paragraph;
                    h1 {
                         @include subHeadlineL;
                         padding-bottom: $mn;
                         text-align: center;
                    }

                    height: 100%;
                    padding: 50px 30px;
                    text-align: justify;
                    max-width: 1200px;
                    justify-content: center;
                    margin: 0 auto;

                    @include mediaTablet {
                         grid-row: span 2;
                    }
               }
          }

          .leftImage,
          .rightImage {
               background: $white102;
               z-index: 100;
               img,
               video {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
               }
               grid-row: span 2;
               grid-column: span 2;
               @include mediaTablet {
                    grid-column: span 1;
                    grid-row: span 3;
               }
          }
     }

     .process {
          background: $white102;
          grid-row: span 2;
          grid-column: span 2;
          display: flex;
          width: calc(100% + 20px);
          margin-left: -10px;
          padding: 0 20px;
          align-items: center;
          .step {
               padding: 20px;
               margin-bottom: $mn;
          }
          @include mediaTablet {
               grid-row: span 2;
          }
     }
}
