@import '../../base/index.scss';

.projectContainer {
     display: block;

     .project {
          width: 100%;
          height: 100%;
          margin: 0 auto;
          display: grid;
          grid-template-columns: repeat(2, 50%);
          grid-gap: 10px;
          grid-auto-rows: 200px;
          background: white;

          @include mediaTablet {
               grid-template-columns: repeat(2, calc(50% - 5px));
               width: calc(100% - 20px);
          }

          .details {
               z-index: 1000;
               background: $white102;
               grid-row: span 2;
               grid-column: span 2;
               display: flex;
               width: calc(100% + 20px);
               margin-left: -10px;
               flex-direction: column;
               align-items: center;
               text-align: center;
               @include mediaTablet {
                    grid-row: span 2;
               }
               .name {
                    z-index: 1;
                    padding-top: $mn;
                    @include headlineL;
               }

               .tags {
                    margin-top: $mn/5;
                    @include subHeadlineL;
               }

               .intro {
                    margin-top: $mn/4;
                    width: 100%;

                    @include textM;
                    @include mediaTablet {
                         width: 100%;
                    }
               }
          }
     }
}
