@import '../../base/index.scss';

.projectContainer {
     // .tags {
     //   @include subHeadlineL;
     // }

     .step {
          padding-bottom: $mn;

          .imageContainer {
               border: 1px solid $gray102;
               margin: $mn/3 0;
               height: auto;
               width: 100%;
               position: relative;
               transition: all 250ms ease;
               cursor: pointer;
               img {
                    cursor: pointer;
               }
          }
     }

     .introVideo {
     }

     .stack {
          padding-top: $mn/4;
          .technologies {
               padding-left: $mn/2;
          }
     }
}
