@import "../../base/index.scss";
.article {
  margin-top: $mn * 1.5;

  .navigationUnderlay {
    width: 100%;
    height: 60px;
    background: $red;
    position: absolute;
    top: 0;
    @include mediaTablet {
      height: 80px;
    }
  }

  .main {
    @include articleContent;

    .intro {
      padding-bottom: $mn/2;
      .title {
        width: 100%;

        @include headlineL;
        @include mediaTablet {
          margin-top: $mn * 2;
        }
      }

      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $mn/3 0 $mn/2 0;

        .authorDetails {
          display: flex;
          align-items: center;

          .imgContainer {
            height: $mn/1.25;
            width: $mn/1.25;
            border-radius: 50%;
            overflow: hidden;

            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
          .nameAndDate {
            padding-left: $mn/3;

            .author {
              padding-bottom: $mn/15;
              @include textM;

              &:hover {
              }
            }
            .date {
              color: $gray101;
              @include textM;
              // margin-bottom: $mn/6;
            }
          }
        }

        .shareIcons {
          display: flex;
          // justify-content: flex-end;
          // margin-bottom: $mn/4;
          margin-right: -15.5px;

          a {
            display: block;
            .icon {
              margin-right: $mn/6;
              fill: $gray101;
              width: 38px;
              height: 38px;
            }
          }
        }
      }

      .imageContainer {
        width: 100%;
        height: 30vh;
        overflow: hidden;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
        @include mediaTablet {
          height: 430px;
        }
      }
    }
    .content {
      padding-bottom: $mn;
      h2 {
        padding: $mn/2 0 $mn/6 0;
        @include subHeadlineL;
        font-weight: 700;
      }
      p {
        @include textArticleParagraph;

        padding: $mn/10 0;
      }

      blockquote {
        margin: $mn/4 0;
        p {
          font-style: italic;
          @include logoFont;
          margin-left: $mn/2;
          font-weight: 300;
          @include mediaTablet {
            @include logoFont;
            margin-left: $mn * 1.2;
          }
        }
      }
      img {
        width: 100%;
        margin: $mn/4 0;
        border: 1px solid $gray102;
      }
      a {
        display: inline-block;
        transition-duration: 100ms;
        &:hover {
          transition-duration: 100ms;
          color: $blue101;
          transform: rotateZ(-1deg) scale(1.02);
          text-decoration: underline;
        }
      }

      code {
        // @include textArticleParagraph;
      }
    }
  }
}
