$white101: #ffffff;
$white102: #fbfbfd;
$white103: #f4f4f4;

$black101: #0c0c0c;
$black102: #1d1d1f;
$black103: #222222;
$black104: #2f2f2f;

$greenBlack: rgba(40, 60, 73, 1);

$gray101: #86868b;
$gray102: #d3d3da;

$blue101: rgb(0, 122, 255);
$blue102: rgb(243, 232, 255);

/* HERO COLORS */
$orange: #e56b1f;
$yellow: #fcd02c;
$pink: #e42c6a;
$black: #292930;
$red: #e12b38;
$peach: #ee7879;
$darkBlue: #2a3166;
