$white101: #ffffff;
$white102: #fbfbfd;

$black101: #0c0c0c;
$black102: #1d1d1f;
$black103: #222222;
$black104: #2f2f2f;

$greenBlack: rgba(40, 60, 73, 1);

$gray101: #86868b;
$gray102: #d3d3da;

$blue101: rgb(0, 122, 255);
