@import "../../base/index.scss";
.aboutBlock {
  background-color: $white101;
  padding: $mn/2 0;
  z-index: 10;
  position: relative;
  .content {
    display: flex;
    flex-direction: column;
    @include content;

    .title,
    .children {
      width: 100%;
    }

    .title {
      @include headlineL;
      padding-bottom: $mn/6;
    }

    .children {
      p {
        @include textArticleParagraph;
        padding-bottom: $mn/6;
      }
      .quote,
      i {
        display: block;
        font-style: italic;
        padding-left: $mn;
      }

      div {
        width: 100%;
        height: auto;

        img {
          width: 100%;
          height: auto;
        }
      }
      a {
        display: inline-block;
        position: relative;
        transition-duration: 100ms;
        &:hover {
          transition-duration: 100ms;
          color: $blue101;
          transform: rotateZ(-1deg) scale(1.02);
          text-decoration: underline;
        }
        p {
          transition-duration: 100ms;
          &:hover {
            transition-duration: 100ms;
            color: $blue101;
          }
        }
      }

      ul {
        padding-left: $mn;
        padding-bottom: $mn/3;
        li {
          @include textArticleParagraph;
        }
      }
    }
  }

  @include mediaTablet {
    padding-top: $mn;
    .content {
      flex-direction: row;

      .title,
      .children {
        width: 50%;
      }

      .children {
        p {
          padding-top: 7px;
          padding-bottom: $mn/4;
          text-align: justify;
        }
        i {
          text-align: start;
        }
      }
    }
  }
}
