@import '../../base/index.scss';
.blogGallery {
     @include content;
     min-height: 80vh;
     .intro {
          margin-top: $mn * 1.5;
          .title {
               @include headlineL;
          }
          padding-bottom: $mn/2;
          // border-bottom: 1px solid $gray102;
     }
}
