@import '../../base/index.scss';

.footer {
     display: flex;
     width: 100%;

     height: 200px;
     margin-top: 10px;
     position: relative;
     background: $white102;
     flex-wrap: wrap;
     padding: 10px 0;
     padding-top: 50px;
     justify-items: center;
     @include mediaDesktop {
          align-items: center;
     }

     .footerItems {
          @include content;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          justify-items: center;
          align-items: center;
     }
     .flugelhorn {
          width: 100%;
          padding: 0px;
          @include textArticleParagraph;
          color: $gray101;
          a {
               &:hover {
                    color: $gray102;
               }
          }
          @include mediaDesktop {
          }
     }
     .details,
     .socialMedia {
          width: 50%;
          display: flex;
          flex-direction: column;
          @include textArticleParagraph;
          margin: 0;
          @include mediaTablet {
          }
          a {
               padding: 5px 0px 0 0;
               color: $gray101;

               &:hover {
                    color: $gray102;
               }
          }
     }
     .socialMedia {
          @include mediaDesktop {
               text-align: right;
               flex-direction: row;
               margin-left: auto;
               width: auto;
               a {
                    padding-right: 20px;
               }
          }
     }

     .details {
          @include mediaDesktop {
               flex-direction: row;
               text-align: right;

               a {
                    padding-right: 20px;
               }
          }
     }
     .copyright {
          width: 100%;
          height: auto;
          @include textArticleParagraph;
          font-size: 14px;
          color: $gray101;

          @include mediaTablet {
               padding-bottom: $mn/4;

               margin-top: 5px;
          }
     }
     a {
          display: inline-block;
          position: relative;
          transition-duration: 100ms;
          z-index: 100;
          &:hover {
               transition-duration: 100ms;
               color: $blue101;
               transform: rotateZ(-1deg) scale(1.02);
               text-decoration: underline;
          }
          p {
               transition-duration: 100ms;
               &:hover {
                    transition-duration: 100ms;
                    color: $blue101;
               }
          }
     }

     .divider {
          margin: 20px 0 10px 0;
          position: relative;
          width: 100%;
          height: 1px;
          background: $gray102;
          display: flex;
     }
}
