@import '../../base/index.scss';

.hero {
     width: 100%;
     height: 100vh;
     @include mediaTablet {
          height: 70vh;
     }
     @include mediaDesktop {
          height: 100vh;
     }
     display: flex;
     background: black;
     align-items: center;
     justify-content: center;
     position: sticky;
     top: 0;
     background: rgb(0, 180, 219);
     background: linear-gradient(
          107deg,
          rgba(0, 180, 219, 1) 0%,
          rgba(0, 131, 176, 1) 100%
     );
     h1 {
          @include logoFont;
          font-size: 100px;
          color: white;
     }
     .overlay {
          background: $white101;

          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          position: absolute;
          opacity: 0;
     }
}
