@import '../../base/index.scss';

.navigation {
     display: flex;
     width: 100%;
     height: 100%;
     position: fixed;
     align-items: center;
     z-index: 200;
     top: 0;
     background: rgba($black101, 0.75);
     left: 0;
     right: 0;
     bottom: 0;
     overflow: hidden;
     justify-content: center;
     flex-direction: column;
     color: $white101;
     padding: 50px;
     @include maxWidthPadding;
     @media screen and (min-width: 600px) {
          display: flex;
          height: 50px;
          flex-direction: row;
          position: fixed;
          background: none;
          justify-content: space-between;
     }
     .menuButton {
          display: flex;
          color: red;
          position: absolute;
          right: 20px;
          top: 45px;
          transform: translateY(-50%);
          z-index: 2000;
          border: none;
          background: none;
          height: 20px;

          width: 50px;
          .span {
               flex-direction: column;
               display: flex;
               width: 100%;
               height: 100%;
               justify-content: space-between;
               span {
                    width: 100%;
                    border-radius: 50px;
                    height: 4px;
                    background: $white101;
               }
          }

          @media screen and (min-width: 600px) {
               display: none;
          }
     }

     .buttonCompressed {
          transition: transform 0.25s;

          .span {
               span {
                    transition: transform 250ms;
               }
          }
     }

     .buttonExpanded {
          .span {
               span {
                    background: $white101;
                    transition: transform 250ms;
                    &:nth-child(1) {
                         transform: translateY(8px);
                    }
                    &:nth-child(2) {
                         transform: translateY(0px);
                    }
                    &:nth-child(3) {
                         transform: translateY(-8px);
                    }
               }
          }
     }

     //  mix-blend-mode: difference;

     .navigationContent {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          @media screen and (min-width: 600px) {
               flex-direction: row;
               display: flex;
          }
     }
     .expanded {
          display: flex;
     }
     .compressed {
          display: none;
          @media screen and (min-width: 600px) {
               flex-direction: row;
               display: flex;
          }
     }
     .logo {
          a {
               @include logoFont;
               font-size: 30px;
               position: absolute;
               top: 0;
               left: 0;
               padding: 30px;
          }
     }

     a {
          font-family: 'inter';
          padding-left: 20px;
     }
}

@media screen and (min-width: 600px) {
     .hideNav {
          transition: transform 0.5s;
          transform: translateY(-80px);
     }
     .showNav {
          transition: transform 0.5s;
          transform: translateY(0px);
     }
}
