@import '../../base/index.scss';

.navigation {
     display: flex;
     width: 100%;
     height: 50px;
     position: fixed;
     align-items: center;
     z-index: 200;
     top: 0;
     left: 0;
     background: $black101;
     color: $white101;
     padding: 0;
     margin: 0;
     padding: 50px;
     @media screen and (min-width: 600px) {
          display: flex;
          height: 50px;
          padding: 50px;
          flex-direction: row;
          position: fixed;
          background: $black101;
          justify-content: space-between;
     }
     .menuButton {
          display: flex;
          position: absolute;
          right: 20px;
          top: 45px;
          transform: translateY(-50%);
          z-index: 2000;
          border: none;
          background: none;
          height: 20px;
          width: 50px;
          .span {
               flex-direction: column;
               display: flex;
               width: 100%;
               height: 100%;
               justify-content: space-between;
               span {
                    width: 100%;
                    border-radius: 50px;
                    height: 4px;
                    background: $white101;
               }
          }

          @media screen and (min-width: 600px) {
               display: none;
          }
     }

     .buttonCompressed {
          transition: transform 0.25s;

          .span {
               span {
                    transition: transform 250ms;
               }
          }
     }

     .buttonExpanded {
          .span {
               span {
                    background: red;
                    transition: transform 250ms;
                    &:nth-child(1) {
                         transform: translateY(8px) rotate(45deg);
                    }
                    &:nth-child(2) {
                         transform: translateY(0px) rotate(45deg);
                    }
                    &:nth-child(3) {
                         transform: translateY(-8px) rotate(-45deg);
                    }
               }
          }
     }

     .navigationContent {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          display: none;
          a {
          }
          @media screen and (min-width: 600px) {
               display: flex;
               flex-direction: row;
               a {
               }
          }
     }

     .navigationContentMobile {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100vh;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          opacity: 0;
          bottom: 0;
          //   background: rgba($black101, 1);
          background: $black101;
          @media screen and (min-width: 600px) {
               a {
                    display: none;
               }
          }
     }
     .expanded {
          display: flex;
          padding: 0;
          //   transform: translateX(0%);

          opacity: 1;
          transition: opacity 300ms linear;
          position: absolute;
     }
     .compressed {
          //   transform: translateX(100%);
          transition: opacity 300ms linear;
          position: absolute;
          a {
               display: none;
          }
     }

     .logo {
          a {
               color: $white101;
               transition: color 150ms;
               @include logoFont;
               font-size: 30px;
               position: absolute;
               top: 0;
               left: 0;
               padding: 30px;
               z-index: 100;
          }
     }
     .logoColorChange {
          a {
               transition: color 150ms;
          }
     }

     a {
          font-family: 'inter';
          padding-left: 20px;
     }
}

.hideNav {
     transition: transform 0.5s;
     transform: translateY(-100px);
}
.showNav {
     transition: transform 0.5s;
     transform: translateY(0px);
}

.navigationExpanded {
     transform: none;
}
