@import '../../base/index.scss';

.projectGallery {
     width: 100%;
     height: 100%;

     .content {
          margin: 0 auto;
          //     @include content;
          display: grid;
          grid-template-columns: repeat(2, calc(50% - 5px));
          grid-gap: 10px;
          padding-bottom: 10px;
          grid-auto-rows: 100px;
          background: white;
          @include mediaTablet {
               background: white;
               grid-template-columns: repeat(2, calc(50% - 5px));
               width: calc(100% - 20px);
          }
     }
     background: white;

     z-index: 4;
     // position: sticky;
     //  flex-wrap: wrap;

     //  justify-content: space-evenly;
}
