@import '../../base/index.scss';

.projectGallery {
     width: 100%;
     height: 100%;
     margin: 0 auto;
     display: grid;
     grid-template-columns: repeat(2, calc(50% - 5px));
     grid-gap: 10px;
     grid-auto-rows: 100px;
     // position: sticky;
     //  flex-wrap: wrap;
     @include mediaTablet {
          grid-template-columns: repeat(2, calc(50% - 5px));
          width: calc(100% - 20px);
     }

     background: white;
     z-index: 4;
     //  justify-content: space-evenly;
}
