@import '../../base/index.scss';

.blog {
     .navigationUnderlay {
          width: 100%;
          height: 60px;
          background: $red;
          @include mediaTablet {
               height: 80px;
          }
     }
     .posts {
          @include content;
          display: flex;
          justify-content: space-between;
          .col {
               width: 49.5%;
          }
     }
}
