@import url('https://use.typekit.net/sut4fhe.css');
@import '../../base/index.scss';
.index {
     width: 100vw;
     height: auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 0;
     margin: 0;
     section {
          width: 100%;
          height: 100%;
     }
}
