@import url("https://use.typekit.net/sut4fhe.css");

.index {
  background: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  h1 {
    font-family: retiro-std-48pt, sans-serif;
    margin: 0;
    font-size: 15vw;
    font-weight: 400;
    color: white;
    font-style: normal;
  }
  h2 {
    font-family: "inter";
    font-weight: 100;
    font-size: 5vw;
    color: white;
    margin: 0;
  }
  a {
    padding-top: 3vw;
    font-family: retiro-std-48pt, sans-serif;
    font-weight: 400;
    color: white;
    font-size: 4vw;
    text-decoration: none;
  }
}
